.animated-text.glitch.active {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: var(--transition);
  cursor: pointer;
  animation: glitch1 10s infinite;
}
.animated-text.glitch.active::before {
  color: var(--secondary);
  z-index: -1;
  animation: glitch2 10s infinite;
}
.animated-text.glitch.active::after {
  color: var(--accent);
  z-index: -2;
  opacity: 1;
  animation: glitch3 10s infinite;
}
.animated-text.glitch.active::before,
.animated-text.glitch.active::after {
  content: var(--dynamic-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@keyframes glitch1 {
  0%,
  90% {
    transform: none;
  }
  90.7% {
    transform: translate(6px, 6px);
  }
  92%,
  94% {
    transform: none;
  }
  94.7% {
    transform: translate(6px, 6px);
  }
  95%,
  96% {
    transform: none;
  }
  96.7%,
  97.7% {
    transform: translate(4px, -8px);
  }
  98% {
    transform: translate(-6px, -6px);
  }
  98.7%,
  100% {
    transform: none;
  }
}
@keyframes glitch2 {
  0%,
  90% {
    transform: none;
  }
  90.7% {
    transform: translate(-12px, -12px);
  }
  92%,
  94% {
    transform: none;
  }
  94.7% {
    transform: translate(-12px, -12px);
  }
  95%,
  96% {
    transform: none;
  }
  96.7%,
  97.7% {
    transform: translate(-8px, 16px);
  }
  98% {
    transform: translate(12px, 12px);
  }
  98.7%,
  100% {
    transform: none;
  }
}
@keyframes glitch3 {
  0%,
  90% {
    transform: none;
  }
  90.7% {
    transform: translate(-6px, -6px);
  }
  92%,
  94% {
    transform: none;
  }
  94.7% {
    transform: translate(-6px, -6px);
  }
  95%,
  96% {
    transform: none;
  }
  96.7%,
  97.7% {
    transform: translate(-4px, 8px);
  }
  98% {
    transform: translate(6px, 6px);
  }
  98.7%,
  100% {
    transform: none;
  }
}
@keyframes glitchy-words {
  0%,
  25% {
    content: 'Full-Stack';
  }
  25.1%,
  50% {
    content: '   Web    ';
  }
  50.1%,
  75% {
    content: ' UI / UX  ';
  }
  75.1%,
  100% {
    content: ' Software ';
  }
}
