:root {
  --header-font: 'Verdana';
  --content-font: 'Arial';
  --fs-lg: 34px;
  --fs-md: 28px;
  --fs-sm: 20px;
  --fs-xs: 18px;
  --border: 2px solid var(--primary);
  --content-width: 90%;
  --lh: 1.2;
  --lh2: 1.5;
  --sm-gap: 10px;
  --md-gap: 20px;
  --lg-gap: 40px;
  --xl-gap: 60px;
  --transition: 0.2s ease-out;
  --primary: #08f508;
  --secondary: #579e35;
  --accent: #224d0e;
  --body-bg: rgb(12, 12, 12);
  --bg: rgba(97, 91, 91, 0.2);
  --bg2: rgba(0, 0, 0, 0.2);
  --text-color: white;
  --primary-shadow: 0 0 8px var(--primary);
  --primary-shadow2: 0 0 12px var(--primary);
  --primary-shadow3: 0 0 16px var(--primary);
  --dark-shadow: 4px 4px 8px black;
  --button-gradient: linear-gradient(
    var(--secondary) 0%,
    var(--primary) 15%,
    var(--primary) 85%,
    var(--accent) 100%
  );
  --dark-button-gradient: linear-gradient(
    var(--secondary) 0%,
    #163109 15%,
    #163109 85%,
    black 100%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--content-font);
}

body {
  background-color: var(--body-bg);
  position: relative;
  color: var(--text-color);
  font-size: var(--fs-xs);
  scroll-behavior: smooth;
  letter-spacing: 1pt;
  overflow-x: hidden;
}
main {
  width: 100%;
}
section {
  width: var(--content-width);
  min-height: 85dvh;
  margin: var(--lg-gap) auto;
  padding: var(--lg-gap);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  border: 2px solid transparent;
  z-index: 15;
}

h2 {
  font-family: var(--header-font);
  font-size: var(--fs-lg);
  color: var(--primary);
  text-align: center;
  padding-bottom: var(--lg-gap);
}
h3 {
  font-family: var(--header-font);
  font-size: var(--fs-md);
  color: var(--secondary);
}
hr.divider {
  width: 100%;
  height: 7dvh;
  min-height: 50px;
  border: none;
}

@media screen and (max-width: 520px) {
  :root {
    --content-width: 100%;
  }
  section {
    border-radius: 0;
    padding: var(--md-gap) var(--sm-gap);
  }
  hr.divider {
    height: 10dvh;
  }
}
@keyframes shine {
  from {
    background-image: linear-gradient(
      115deg,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
  12.5% {
    background-image: linear-gradient(
      115deg,
      var(--bg),
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
  25% {
    background-image: linear-gradient(
      115deg,
      transparent,
      var(--bg),
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
  37.5% {
    background-image: linear-gradient(
      115deg,
      transparent,
      transparent,
      var(--bg),
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
  50% {
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent,
      transparent,
      var(--bg),
      transparent,
      transparent,
      transparent
    );
  }
  62.5% {
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--bg),
      transparent,
      transparent
    );
  }
  75% {
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--bg),
      transparent
    );
  }
  87.5% {
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--bg)
    );
  }
  to {
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
  #change-text-animation {
    color: var(--primary) !important;
  }
}
